version: "3.1"
services:
  redis-master:
      image: bitnami/redis:4.0.11
      container_name: redis-master
      hostname: redis-master
      volumes:
          - /traces/redis:/bitnami/redis
      ports:
        - '6379:6379'
      environment:
        - REDIS_REPLICATION_MODE=master
        - REDIS_PASSWORD=QyV9LVnpbm
        # ALLOW_EMPTY_PASSWORD is recommended only for development.
        #- ALLOW_EMPTY_PASSWORD=yes
        #- REDIS_DISABLE_COMMANDS=FLUSHDB,FLUSHALL
      networks:
        - redis-net
      logging:
        driver: "json-file"
        options:
          max-size: "100m"
          max-file: "1"
      sysctls:
        net.core.somaxconn: '1024'

  cgr-engine-diameter:
      image: gitlab-ptk.gt.local:5005/cgr-engine:3d5f2ff
      container_name: cgr-engine-diameter
      volumes:
          - ./configs/common:/etc/cgrates/common
          - ./configs/diameter:/etc/cgrates/diameter
      ports:
          - "3868:3868"
      depends_on:
          - redis-master
      environment:
          - CGR-SERVICE=diameter
      logging:
        driver: "json-file"
        options:
          max-size: "100m"
          max-file: "1"

networks:
  redis-net:

#volumes:
#  redis_data:
#    driver: local