version: "3.7"
services:
  redis-master:
      image: bitnami/redis:4.0.11
      container_name: redis-master
      volumes:
          - /traces/redis:/bitnami/redis
      environment:
        - REDIS_REPLICATION_MODE=master
        - REDIS_PASSWORD=QyV9LVnpbm
        # ALLOW_EMPTY_PASSWORD is recommended only for development.
        #- ALLOW_EMPTY_PASSWORD=yes
        #- REDIS_DISABLE_COMMANDS=FLUSHDB,FLUSHALL
      networks:
        - redis-net
      logging:
        driver: "json-file"
        options:
          max-size: "100m"
          max-file: "1"
      sysctls:
        net.core.somaxconn: '1024'

  rals:
      image: gitlab-ptk.gt.local:5005/cgr-engine:3d5f2ff
      container_name: rals
      volumes:
          - ./configs/common:/etc/cgrates/common
          - ./configs/rals:/etc/cgrates/rals
      networks:
        - rals-net
        - redis-net 
      depends_on:
          - redis-master
      environment:
          - CGR-SERVICE=rals
      logging:
        driver: "json-file"
        options:
          max-size: "100m"
          max-file: "1"

  sessions:
      image: gitlab-ptk.gt.local:5005/cgr-engine:3d5f2ff
      container_name: sessions
      volumes:
          - ./configs/common:/etc/cgrates/common
          - ./configs/sessions:/etc/cgrates/sessions
      networks:
        - rals-net
        - sessions-net
      depends_on:
          - rals
      environment:
          - CGR-SERVICE=sessions
      logging:
        driver: "json-file"
        options:
          max-size: "100m"
          max-file: "1"

  cdrs:
      image: gitlab-ptk.gt.local:5005/cgr-engine:3d5f2ff
      container_name: cdrs
      hostname: cdrs
      volumes:
          - ./configs/common:/etc/cgrates/common
          - ./configs/cdrs:/etc/cgrates/cdrs
      networks:
        - sessions-net
        - cdrs-net
      depends_on:
          - rals
      environment:
          - CGR-SERVICE=cdrs
      logging:
        driver: "json-file"
        options:
          max-size: "100m"
          max-file: "1"

  diameter:
      image: gitlab-ptk.gt.local:5005/cgr-engine:3d5f2ff
      container_name: diameter
      volumes:
          - ./configs/common:/etc/cgrates/common
          - ./configs/diameter:/etc/cgrates/diameter
      ports:
          - "3868:3868"
      networks:
        - sessions-net
      depends_on:
          - sessions
      environment:
          - CGR-SERVICE=diameter
      logging:
        driver: "json-file"
        options:
          max-size: "100m"
          max-file: "1"

networks:
  redis-net:
  rals-net:
  sessions-net:
  cdrs-net:
#volumes:
#  redis_data:
#    driver: local